<html>{% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'shoestring/css/uikit.min.css' %}">
        <script src="{% static 'shoestring/js/jquery.min.js' %}"></script>

        <script src="{% static 'shoestring/js/ractive.min.js' %}"></script>
        <script src="{% static 'shoestring/js/js-signals.min.js' %}"></script>
        <script src="{% static 'shoestring/js/hasher.min.js' %}"></script>
        <script src="{% static 'shoestring/js/crossroads.min.js' %}"></script>

        <script src="{% static 'shoestring/js/uikit/uikit.min.js' %}"></script>

<script id="cart" type="text/ractive">{% include 'shoestring/cart.html' %}</script>
<script id="product-list" type="text/ractive">{% include 'shoestring/product-list.html' %}</script>
<script id="product-detail" type="text/ractive">{% include 'shoestring/product-detail.html' %}</script>
<script id="tag-filters" type="text/ractive">{% include 'shoestring/tag-filters.html' %}</script>

<script>
    var SS = {};
    SS.url = {
        cart: "{% url 'shoestring:cart:cart' %}",
        product: "{% url 'shoestring:products:product-list' %}",
    };
</script>

        <script src="{% static 'shoestring/js/rpc.js' %}"></script>
        <script src="{% static 'shoestring/js/cart.js' %}"></script>
        <script src="{% static 'shoestring/js/products.js' %}"></script>
        <script src="{% static 'shoestring/js/tag-filters.js' %}"></script>

{% verbatim %}
<script id="layout" type="text/ractive">
<main class="uk-grid">
    <aside class="uk-width-1-6">
        <tag-filters tags="{{tags}}" />
    </aside>
    <section class="uk-width-4-6 uk-flex uk-flex-space-between">
        {{#products}}
        <product-list item="{{item}}" />
        {{/products}}
    </section>
    <aside class="uk-width-1-6">
        <cart cart="{{cart}}" />
    </aside>
</main>
</script>
{% endverbatim %}
<script>
var ractive;
$(function () {

    ractive = new Ractive({
        el: '#shop',
        template: '#layout',
        data: {
            products: [ ],
            tags: [ ],
            facets: [ ]
        },
        computed: {
            // Allows lookup of Product by SKU
            product_map: function () {
                var o = {};
                this.get('products').forEach(function (rec) { o[rec.sku] = rec; });
                return o;
            }
        },
        components: {
            cart: Cart,
            'product-list': ProductList,
            'product-detail': ProductDetail,
            'tag-filters': TagFilters
        }
    });
    ractive.on('product-list.showProduct', function (event) {
        hasher.setHash('view/' + event.component.get('sku'));
    });

    function viewProduct(sku) {
        var rec = ractive.get('product_map')[sku];
    }

    crossroads.addRoute('view/{sku}', viewProduct);
    // crossroads.routed.add(console.log, console);

    function parseHash(newHash, oldHash) {
        crossroads.parse(newHash);
    };

    hasher.initialized.add(parseHash); //parse initial hash
    hasher.changed.add(parseHash); //parse hash changes

    $.getJSON("{% url 'shoestring:products:product-list' %}", function (data) {
        ractive.set('products', data);
        hasher.init(); //start listening for history change
    });
});

</script>

    <head>
    <body class="uk-container uk-container-center">
        <header class="uk-grid">
            <h1 class="uk-width-1-1 uk-text-center">The Store</h1>
        </header>

        <div id="shop"></div>

        <div id="product-view" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <header class="uk-modal-header">
                </header>
                <footer class="uk-modal-footer">
                </footer>
            </div>
        </div>

    </body>
</html>
